<section>
    <div class="spacer" >
    <ul>
      <li> <a class="text-left" href="#"><i class="fal fa-comment-alt"></i>IMakeBot</a> </li>
      <li> <a  mat-button routerLink="/generateur"  routerLinkActive="active">chatbots</a></li>
      <li><a mat-button routerLink="/intelArti"   routerLinkActive="active">centre d'aide</a></li>
    </ul>
  </div>
  </section>
  <style>
  .text-left{
    flex: 1 1 auto;
  }
    .spacer {
      height: 59px;
      background-color: #272e3a;
      padding: 22px 0;
    }
    .spacer ul{
      margin: 0;
      padding: 0;
      text-align: left;
  
    }
  
    .spacer ul li{
      list-style: none;
      display: inline;
  
    }
    .spacer ul li a {
      color: #fff;
      font-size: 20px;
      line-height: normal;
      font-family: Roboto;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0px 20px;
      display: inline-block;
      font-weight: 500;
      transition: 0.5s;
    }
    .spacer ul li a.active{
      background:  #E91363;
    }
    .spacer ul li:hover a {
      background:  #E91363;
    }
  
  </style>
  
