
  <main>
    <section class="create-bot" id="omos">
       <div class="container pt-lg-md">
         <div class="row justify-content-center">


             <div class="card-header">
               <div class="text-muted text-center mb-8 " style="padding-top:55px;">
               <a class="active" href="#"><i class="fal fa-comment-alt"></i>
                 IMakeBot</a>
                 </div>

       <div class="text-centerr">
         <p>Créer Un Chatbot</p>
       </div>
       <div class="text-center1 ">
         <p>Sélectionnez le modéle de Chatbot</p>
      </div>
       </div>


           <div class="card-deck">
           <div class="card" style="width: 18rem;background-color: #343c4c;border: 2px dashed black;">
               <div class="text-center text-muted mb-4">
                 <div style="padding-bottom: 18px;">
                 <img class="Besoin-daidee" alt="Responsive" src="../../assets/img/icons/chatIc.PNG">
 </div>
                 <div class="Crer-de-Zro">
                 <h4>Créer de zero</h4>
               </div>
             </div>
               <div class="text-center3 ">
                 <small>Utiliser le générateur iMakerBot pour Créer facilement un chatbot </small>
               </div>
              <button type="button" class="btn info" style="background-color: #272d3a; "><i style="color: #2f9ed0;" routerLink="/creer">Créer</i></button>
         </div>


           <div class="card" style="width: 18rem;background-color: #2f9ed0;">
               <div class="text-center text-muted mb-4">
                 <div style="padding-bottom: 14px;">
                 <img class="Besoin-daideee" alt="Responsive" src="../../assets/img/icons/chatIc1.PNG">
 </div>
                 <div class="Service-Clients">
                   <h4>Service Clients</h4>
                 </div>
               </div>
                 <div class="text-center4">
                   <small> Répondre à vos clients avec des agents humains</small>
                 </div>
               <button type="button" class="btn info" style="background-color: #3dade0;"><i style="color: #ffffff;">Go somewhere</i></button>
       </div>
     </div>

     </div>


   </div>



   <div style="padding-top: 270px;">
   <img class="Besoin-daideeee"  src="../../assets/wave.png">
 </div>


   <div class="Rectangle-11">
     <hr>
     <img class="Besoin-daide" src="../../assets/scss/besoin.png">
   </div>


 </section>
 </main>
 <style>

 .Besoin-daideeee{
   width: 1900px;
   height: 128px;


 }







 .Besoin-daide{
 width: 571px;
   height: 45px;
   margin-top: 17px;
   object-fit: contain;
   font-family: Roboto;
   font-size: 13px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #e5e5e5;
 }





 .text-centerr{
   font-family: police1;
   color:#ffff;
   margin: 31px 0px 0px ;

 }
 #omos {
   background-color:  #343c4c;



   clear: both;
   text-align: center;
   overflow-x: hidden;
   overflow-y: hidden;


 }
 .card-deck{
   margin: 1px 1px 1px 1px;
   padding: 0px 12px 0px 0px;
   width: 455px;
   height: 210px;
   margin: 10px ;
 }

 .icon1{
   width: 50px;
   height: 50px;
   margin: 6px 0 0 15px;
 }
   .active{
   width: 35px;
   height: 35px;
   margin: 0 0 5px;

   }
   a{
     width: 135px;
   height: 23px;
   margin: 17px 0 0;
   font-family: Roboto;
   font-size: 26px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #2f9ed0;
   }

   .icon3{

   margin: 17px 5em 0px;
   font-family: Roboto;
   font-size: 38px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #0c6188;
 }


   .Crer-de-Zro{
     width: 130px;
     height: 33px;
     margin: 1px 29px 0 38px;
     font-size: 17px;
     font-family: Roboto;
     font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;

   }
   .text-center1{
   color: #2f9ed0;
   padding-top: 0px;
   }

   .Crer-de-Zro{
     color: #ffffff;
   }
 .text-center3{
   width: 166px;
   height: 49px;
   margin: 1px 5px 6px 10px;
   font-family: Roboto;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   font-size: 11px;

   color: #ffffff;
 }
 .Service-Clients{
   width: 146px;
   height: 33px;
   margin: 1px 0px 0 30px;
   font-family: Roboto;
   font-size: 16px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
 }

 .text-center4{
   color: #ffffff;
   width: 166px;
   height: 49px;
   margin: 1px 12px 6px;
   font-family: Roboto;
   font-size: 11px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
 }


 .img-fluid{
   width: 571px;
   height: 45px;
   object-fit: contain;
   font-family: Roboto;
   font-size: 13px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #e5e5e5;
 }

 hr {

   height: 2px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-left: 260px;
   margin-right: 272px;
   background-color: #6d6d6d;
   align-items: center;
   text-align: center;
   border: none;


 }
   .Rectangle-11{
     width: 100%;
   height: 76px;

   background-color: rgba(237, 237, 237, 0.05);



 }


 .card-header{
  padding: 0px 24px 0;
   background-color: #343c4c;
   border-color: #343c4c;
 }
 .card-footer{
   padding-top:0px ;
   padding-bottom: 0px;
   margin: 2px;
   background-color: #343c4c;
 }
 h6{
   color: #ffffff;
 }

 h4{
   color:#ffffff;
 }



   </style>
