
<app-navbar></app-navbar>
<div  class="reset">
  
    <nav style="background:rgb(33, 33, 63);"class="navbar ">
      <div class="container-fluid">
        <div class="navbar-brand">
         
          
        </div>
      </div>
    </nav>
    <div class="contenu">
      <div class="text2">
        <a class="text1 " style="color: gray;"> > Forget Your Password ?</a>
        <br>
        <br>
        
        <a> Your Time To Confirme Reset </a>
              <br>
              <a>Password Was Expired </a>
              <br>
              <a>Please Click To The Button To Try Again</a>
              <br>
              <button (click)="TryAgain()"style="margin-top:1%;"id="send" class="btn btn-primary">Try Again</button>
       
      </div>
      
   
  
    </div>
  
    
            
    
  
  </div>
  <app-footer style="position: absolut;top: 100%;"></app-footer>
