

.contenu{
    padding: 5%;
    color:black;
    font-size: medium;
   margin-top:10%;
   margin-left: 30%;
    background: #f4f5f7;
    width: 40%;
    border-radius: 10px;
    height: 42%;
    
}
.im1{
    position: absolute;
    top:30%;
    left:60%;
    width:20%; 
    height: 40px ;
  }
  .im2{
    position: absolute;
    top:30%;
    left:63%;
    width:20%; 
    height: 30px ;
  }
.text1{
    font-size: x-large;
    position: relative;
    right: 20%;

}
.text2{
    margin-left: 20%;
}
#send{
    position: absolute;
    left:60%;
    border-radius: 6px;

    
}
.reset{
    background: rgb(33, 33, 63);
    height: 725px;
}
.facebook-3 {
    width: 18px;
    height: 18px;
    margin: 56px 16px 74px 67px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  @media(max-width:570px){
    #send{
      position: absolute;
      left:40%;
      border-radius: 6px;
  
      
  }
  }
  @media(max-width:290px){
    #send{
      position: absolute;
      left:25%;
      border-radius: 6px;
  
      
  }
  }
@media(max-width:1162px){
    .contenu{
        padding: 5%;
        color:black;
        font-size: medium;
       margin-top:12%;
       margin-left: 30%;
        background: #f4f5f7;
        width: 45%;
        border-radius: 10px;
        height: 45%;
        
    }
    
}

@media(max-width:800px){
   
    .contenu{
        padding: 5%;
        color:black;
        font-size: medium;
       margin-top:13%;
       margin-left: 20%;
        background: #f4f5f7;
        width: 65%;
        border-radius: 10px;
        height: 40%;
        
    }

}
@media(max-width:532px){
   
  .contenu{
      padding: 5%;
      color:black;
      font-size: medium;
     margin-top:13%;
     margin-left: 10%;
      background: #f4f5f7;
      width: 75%;
      border-radius: 10px;
      height: 45%;
      
  }

}
@media(max-width:300px){
   
  .contenu{
      padding: 5%;
      color:black;
      font-size: medium;
     margin-top:13%;
     margin-left: 10%;
      background: #f4f5f7;
      width: 75%;
      border-radius: 10px;
      height: 55%;
      
  }

}
@media(max-width:800px){
    .im1{
        position: absolute;
        top:30%;
        left:60%;
        width:20%; 
        height: 40px ;
      }
      .im2{
        position: absolute;
        top:30%;
        left:72%;
        width:20%; 
        height: 30px ;
      }
}
@media(max-width:1000px){
    .im1{
        position: absolute;
        top:30%;
        left:60%;
        width:20%; 
        height: 40px ;
      }
      .im2{
        position: absolute;
        top:30%;
        left:70%;
        width:20%; 
        height: 30px ;
      }

}
