<main>
    <div class="position-relative">

<div class="container">
    <div class="img">
        
    </div>
    <div class="login-content">
        <form >
            
            
            <span class="Edit-ChatBot">Edit ChatBot</span><br>
            <hr><br>
        
           

            <div >

                <span class="Basic-Configuration" >Basic configuration</span>
                   
              
             </div>
               <div class="input-div one">
                   
                  <div class="i">
                        
                  </div>
                  <div class="div">
                    
                          <input type="text" placeholder="Chatbot name" class="input">
                  </div>
               </div>
               <div class="input-div one">
                   
                <div class="i">
                      
                </div>
                <div class="div">
                  
                        <input type="text" placeholder="Description" class="input">
                </div>
             </div>
             <div class="Rectangle-87">
            
                <span >Drog and drop your file
                    <br>
                    <button class="btn btn-primary" id="Rectangle-55">
                        Select
                    </button>
                    
                </span>
            
                
                
             </div>    <br>
        
            <button class="btn btn-primary my-4" id="Rectangle-57">Save</button>
        </form>

        
    </div>
    
</div>

<div class="container">
    <div class="img">
        
    </div>
    <div class="login-content">
        <form >
            
            <span class="Delete-chatbot" >Delete chatbot</span><br>
        
                    <span class="After-deleting-your-chatbot-it-will-no-longer-be-visible-on-your-BLiP-chatbots-list-nor-be-availab">After deleting your chatbot, it will no longer be visible on your BLiP chatbots’ list nor be available to your customers.
                    </span><br>
            <button class="btn btn-primary" id="Rectangle-58">delete</button>
        </form>

        
    </div>
    
</div>

</div>
</main>