
<header>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css">
</header>

<app-navbar></app-navbar>
<div  id="reset"class="position-relative">
    <section class="section section-lg section-hero section-shaped">
    <div class="shape shape-style-1 shape-primary">
      <span style="background: white;"class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    
    <nav style="background:rgb(33, 33, 63);" class="navbar ">
      <div class="container-fluid">
        <div class="navbar-brand">
          
          
        </div>
      </div>
    </nav>
    <div class="contenu"  >
      <form [formGroup]="ResetForm" (ngSubmit)="Reset()">
  
      <a class="text" style="font-size: 25px;color: gray;"> < Create New Password </a>
    
        <div class="uk-margin">
            <div style="width: 120%;"class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input formControlName="newPassword"type="password" placeholder="New Password"style="border-radius: 5px;"class="uk-input" >
            </div>
            <img *ngIf="f.newPassword.dirty && f.newPassword.valid" width="8%" height="8%" style="margin-left:1% ;" src="assets/accept1.png">
        <img *ngIf="f.newPassword.dirty && f.newPassword.invalid" width="8%" height="8%" style="margin-left:1% ;" src="assets/refuse2.jpg">
        </div>
        
        <div class="uk-margin">
          <div style="width: 100%;"class="uk-inline">
              <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
              <input formControlName="repeatNewPassword"type="password" placeholder="Reapate New Password"style="border-radius: 5px;"class="uk-input" >
          </div>
          <div *ngIf="f.repeatNewPassword.dirty">
            <img *ngIf="  f.repeatNewPassword.valid && f.repeatNewPassword.value == f.newPassword.value" style="margin-left:1% ;" width="8%" height="8%" src="assets/accept1.png">
        <img *ngIf=" f.repeatNewPassword.invalid || f.repeatNewPassword.value != f.newPassword.value" style="margin-left:1% ;" width="8%" height="8%" src="assets/refuse2.jpg">
  
          </div>
          
          
      </div>
      
    
    <button [disabled]="f.newPassword.errors || f.repeatNewPassword.errors || f.repeatNewPassword.value != f.newPassword.value"id="send" class="btn btn-primary" type="submit">Create</button>
    
    </form>
    <div  >
                    
  
  
    
  </div>
          <div *ngIf="loading" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>  
      
  
  
    </div>
  
    
  </section>
    
  
  </div>
  <app-footer style="position: absolut;top: 100%;"></app-footer>

