

.contenu{
    padding: 7%;
    color:black;
    font-size: medium;
   margin-top:7%;
   margin-left: 30%;
    background: #f4f5f7;
    width: 40%;
    border-radius: 10px;
    
    
}
.text1{
    font-size: x-large;
    position: relative;
    right: 20%;

}
.text2{
    margin-left: 20%;
}
#send{
    position: absolute;
    left:60%;
    border-radius: 6px;

    
}
#reset{
    background: rgb(33, 33, 63);
    height: 745px;
}

  .im1{
    position: absolute;
    top:30%;
    left:67%;
    width:20%; 
    height: 40px ;
  }
  .im2{
    position: absolute;
    top:30%;
    left:70%;
    width:20%; 
    height: 30px ;
  }
  @media(max-width:990px){
    .im1{
        position: absolute;
        top:30%;
        left:60%;
        width:20%; 
        height: 40px ;
      }
      .im2{
        position: absolute;
        top:30%;
        left:70%;
        width:20%; 
        height: 30px ;
      }
  }


@media(max-width:870px){
    .contenu{
        padding: 7%;
        color:black;
        font-size: medium;
       margin-top:10%;
       margin-left: 30%;
        background: #f4f5f7;
        width: 45%;
        border-radius: 10px;
        height: 350px;
        
    }
    .im1{
        position: absolute;
        top:30%;
        left:60%;
        width:20%; 
        height: 40px ;
      }
      .im2{
        position: absolute;
        top:30%;
        left:70%;
        width:20%; 
        height: 30px ;
      }
    
}

@media(max-width:655px){
   
    .contenu{
        padding: 7%;
        color:black;
        font-size: medium;
       margin-top:10%;
       margin-left: 30%;
        background: #f4f5f7;
        width: 45%;
        border-radius: 10px;
        height: 400px;
        
    }

}

@media(max-width:580px){
    

    .im1{
        position: absolute;
        top:30%;
        left:55%;
        width:20%; 
        height: 40px ;
      }
      .im2{
        position: absolute;
        top:30%;
        left:67%;
        width:20%; 
        height: 30px ;
      }
      #send{
        position: absolute;
        left:47%;

        border-radius: 6px;
}
.text1{
    font-size:medium;
    position: relative;
    right: 20%;

}
}
@media(max-width:1233px){
  #send{
    position: absolute;
    left:45%;

    border-radius: 6px;
}
  
}
@media(max-width:485px){
  #send{
    position: absolute;
    left:40%;

    border-radius: 6px;
}
  
}
@media(max-width:860px){
 
  .contenu{
    padding: 7%;
    color:black;
    font-size: medium;
   margin-top:10%;
   margin-left: 30%;
    background: #f4f5f7;
    width: 45%;
    border-radius: 10px;
    height: 400px;
    
}
}